#house-map {
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  input {
    width: 500px;
    max-width: 40%;

    margin: 10px;
    padding: 0.2em;

    border: 1px solid transparent;
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);

    font-size: 16px;

    text-overflow: ellipsis;

    background-color: #FFF;
  }

  button {
    margin: 10px;
    padding: 0.2em;

    border: 1px solid transparent;
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);

    font-size: 16px;

    background-color: #FFF;
  }
}